# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# 環境変数
.env

/dialogue_agent/

redpen-1.10.4.tar.gz
/redpen-distribution-1.10.4/
